In [13]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
sns.set()

In [46]:
df = pd.read_csv('crypto-markets.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649051 entries, 0 to 649050
Data columns (total 13 columns):
slug           649051 non-null object
symbol         649051 non-null object
name           649051 non-null object
date           649051 non-null object
ranknow        649051 non-null int64
open           649051 non-null float64
high           649051 non-null float64
low            649051 non-null float64
close          649051 non-null float64
volume         649051 non-null int64
market         649051 non-null int64
close_ratio    634488 non-null float64
spread         649051 non-null float64
dtypes: float64(6), int64(3), object(4)
memory usage: 64.4+ MB

In [47]:
df.head(1)

,slug,symbol,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread
0,bitcoin,BTC,Bitcoin,2013-04-28,1,135.3,135.98,132.1,134.21,0,1500520000,0.5438,3.88

In [61]:
df['date'] = pd.to_datetime(df['date'])
df['slug'] = df['slug'].astype('category')
df['symbol'] = df['symbol'].astype('category')
df['name'] = df['name'].astype('category')
df.dropna(axis=0, how='any', inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 634488 entries, 0 to 649050
Data columns (total 13 columns):
slug           634488 non-null category
symbol         634488 non-null category
name           634488 non-null category
date           634488 non-null datetime64[ns]
ranknow        634488 non-null int64
open           634488 non-null float64
high           634488 non-null float64
low            634488 non-null float64
close          634488 non-null float64
volume         634488 non-null int64
market         634488 non-null int64
close_ratio    634488 non-null float64
spread         634488 non-null float64
dtypes: category(3), datetime64[ns](1), float64(6), int64(3)
memory usage: 57.0 MB

In [66]:
mask = df['ranknow'] <= 100
mask = df[mask]
mask = mask.drop(['symbol', 'name', 'ranknow', 'high', 'low', 'open', 'volume', 'market', 'close_ratio', 'spread'], 1)
mask = mask.pivot(index='date', columns='slug', values='close')
mask.dropna(axis=0, how='all', inplace=True)
mask.head()

slug,0x,aelf,aeternity,aion,ardor,ark,augur,bancor,basic-attention-token,binance-coin,...,vechain,verge,veritaseum,vertcoin,walton,waves,wax,xtrabytes,zcash,zcoin
date,,,,,,,,,,,,,,,,,,,,,
2013-04-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-04-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-05-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN